<!DOCTYPE html>
<html>
    <head>
        <title>Projet_v0</title>
        <link rel="stylesheet" href="/css/main.css">
    </head>

    <body>
        <h1>Salut les gens</h1>
        <h3><%= test %></h3>
    </body>
</html>   
